th{
    
    background-color: azure;
    border:  2px solid black;
    margin: 0px;
    border-collapse: collapse;
    padding: 2px;
}
.table{
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    margin: 0px;
    border: 2px solid black;
    padding: 2px;
    border-collapse: collapse;

}
.card{
    align-self: center;
    width: 800px;
    margin-left: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    margin-bottom: 20px;
}
.card h2{
    background-color: black;
    text-align: center;
    color: wheat;
}